<header class="navbar navbar-fixed-top bg-dark mb-4">
<div class="container">
<%= link_to "Memo", '/',style:"font-size:1.8rem;",class:"nav-link text-light" %>
<nav>
  <ul class="navbar list-inline" style="height:2.0rem;">
    <li class="list-inline-item"><%= link_to "新規メモ",new_memo_path %></li>
    <li class="list-inline-item"><%= link_to "新規登録", new_user_registration_path %></li>
    <li class="list-inline-item"><%= link_to "ログイン", new_user_session_path %></li>
    <li class="list-inline-item"><%= link_to "ログアウト", destroy_user_session_path,method: :delete %></li>
    </ul>
</nav>
</div>
</header>